.tabs {
  @apply sticky top-0 left-0 w-full max-w-[100vw] bg-indigo-50 border-b border-gray-300 shadow-sm z-10;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tabs::-webkit-scrollbar {
  display: none;
}

.row {
  @apply flex items-center px-7 py-3 overflow-auto;
}

.tab {
  @apply text-gray-600 flex transition;
}

.tab + .tab {
  @apply ml-6;
}

.tab svg {
  @apply mr-1.5 w-5;
}

.active {
  @apply text-primary;
}

.tab:hover:not(.active) {
  @apply text-gray-800;
}
